[Desktop Entry]
Name=Soplos Sys Cleaner
Name[es]=Soplos Limpiador del Sistema
Name[en]=Soplos Sys Cleaner
Name[fr]=Nettoyeur du système Soplos
Name[de]=Soplos Systemreiniger
Name[pt]=Soplos Limpador de Sistema
Name[it]=Soplos Pulitore di Sistema
Name[ro]=Curățătorul sistemului Soplos
Name[ru]=Свистки очистка системы
Comment=System cleaner and optimizer for Soplos Linux
Comment[es]=Limpiador y optimizador de sistema para Soplos Linux
Comment[en]=System cleaner and optimizer for Soplos Linux
Comment[fr]=Nettoyeur et optimiseur de système pour Soplos Linux
Comment[de]=Systemreiniger und Optimierer für Soplos Linux
Comment[pt]=Limpador e otimizador de sistema para Soplos Linux
Comment[it]=Pulitore e ottimizzatore di sistema per Soplos Linux
Comment[ro]=Curățător și optimizator de sistem pentru Soplos Linux
Comment[ru]=Очистка и оптимизация системы для Soplos Linux
Exec=soplos-sys-cleaner
Icon=org.soplos.sys-cleaner
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
GenericName=System Cleaner
GenericName[en]=System Cleaner
GenericName[es]=Limpiador del Sistema
GenericName[fr]=Nettoyeur du Système
GenericName[de]=Systemreiniger
GenericName[pt]=Limpador de Sistema
GenericName[it]=Pulitore di Sistema
GenericName[ro]=Curățător de Sistem
GenericName[ru]=Очистка системы
Keywords=clean;optimize;space;maintenance;cache;kernels;
Keywords[en]=clean;optimize;space;maintenance;cache;kernels;
Keywords[es]=limpiar;optimizar;espacio;mantenimiento;caché;núcleos;
Keywords[fr]=nettoyer;optimiser;espace;maintenance;cache;noyaux;
Keywords[de]=reinigen;optimieren;speicherplatz;wartung;cache;kernel;
Keywords[pt]=limpar;otimizar;espaço;manutenção;cache;núcleos;
Keywords[it]=pulire;ottimizzare;spazio;manutenzione;cache;kernel;
Keywords[ro]=curăță;optimizează;spațiu;întreținere;cache;nuclee;
Keywords[ru]=очистить;оптимизировать;место;обслуживание;кэш;ядра;
